name: Filter Notifications

# Controls when the action will run. 
on:
  #schedule:
  #  - cron: '0 * * * *' 
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    env: 
      API_KEY: ${{ secrets.API_KEY }}
    # Steps represent a sequence of tasks that will be executed as part of the job  
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Filter Notifications
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: |
          gem install octokit
          ruby filter_notifications.rb

