name: Filter Notifications

# Controls when the action will run. 
on:
  schedule:
    - cron: '0 * * * *' 
  workflow_dispatch:

jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 2.7
      - name: Filter Notifications
        env:
          API_KEY: ${{ secrets.API_KEY }}
        run: |
          gem install octokit
          ruby filter_notifications.rb

