name: Filter Notifications

# Controls when the action will run. 
on:
  schedule:
    - cron: '0 * * * *' 

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job  
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-ruby@v1
        env:
          API_KEY: ${{ secrets.API_KEY }}
        with:
          ruby-version: '2.7' # Version range or exact version of a Ruby version to use, using semvers version range syntax.
      - run: |
          echo "RUNNING!"
          echo ${{ secrets.API_KEY }}
          gem install octokit
          ruby filter_notifications.rb
